<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:src="@{/static}"></script>
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="u" placeholder="Username" required="required"/>
        <input type="password" name="p" placeholder="Password" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large"><a style="text-decoration: none;">Đăng
            nhập</a></button>
    </form>
</div>

</body>
</html>